/* Volunteer Table Styles */
@media only screen and (max-width: 768px) {
  /* Hide table headers (but not display: none;, for accessibility) */
	#volunteer-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

  #volunteer-table tr { border: 1px solid #dddddd; }

  #volunteer-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 1em 1em 1em 50%;
  }

  #volunteer-table td:before {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

	/*
	Label the data
	*/
	#volunteer-table td:nth-of-type(1):before { content: "Organization";  }
	#volunteer-table td:nth-of-type(2):before { content: "Event Name"; }
	#volunteer-table td:nth-of-type(3):before { content: "Location"; }
	#volunteer-table td:nth-of-type(4):before { content: "Start"; }
	#volunteer-table td:nth-of-type(5):before { content: "End"; }
	#volunteer-table td:nth-of-type(6):before { content: "Contact"; }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  #volunteer-table > table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
  }

  /*.table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
  }*/

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    vertical-align: top;
    line-height: 1.5;
  }

  /*.table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
  }*/

  thead tr {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }

  td {
    padding: 0.5em;
  }
}

.pagination {
	position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > ul {
	padding-left: 0;
    list-style: none;
}

.pagination > ul > li {
    display: inline;
}

.pagination > ul > li > a, .pagination > ul > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.6;
    color: #006872;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

#data-table-container_info {
	text-align: center;
  margin-top: 1em;
}

/* End Volunteer Table Styles */
